<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./layout/outerlink'); -%>
        <title>products1</title>
</head>

<body>
    <%- include('./layout/header'); -%>

        <div class="second-top-menu">
            <ul class="container d-flex">
                <li><a href="products1.html" class="fw-md fz-32 fz-md-24 fz-sm-16 text-dark t-center active">OPTICAL</a></li>
                <li><a href="products2.html" class="fw-md fz-32 fz-md-24 fz-sm-16 text-dark t-center">SUNGLASSES</a></li>
                <li><a href="#" class="fw-md fz-32 fz-md-24 fz-sm-16 text-dark t-center">FUNCTIONAL</a></li>
            </ul>
        </div>
        <ul class="d-flex product-banner">
            <li class="left-banner"></li>
            <li class="right-banner"></li>
        </ul>

        <div class="products py-80 pt-sm-40 pb-sm-64 bg-light">
            <div class="container">
                <h2 class="t-center fw-md">Celluloid Combi</h2>
                <h3 class="t-center">賽璐珞鈦金屬混合鏡框</h3>

                <ul class="products-content d-flex flex-wrap jcsb optical">
                    <li class="product-card card">
                        <a href="#">
                            <div class="img-container">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true"
                                alt="product-1">
                            </div>
                            <p><span class="product-id">BJ41600S</span><span class="price">NTD3,490</span></p>
                            <p class="color-style"><span></span><span></span></p>
                        </a>
                    </li>
                    <li class="product-card card">
                        <a href="#">
                            <div class="img-container">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true"
                                alt="product-2">
                            </div>
                            <p><span class="product-id">BJ41600S</span><span class="price">NTD3,490</span></p>
                            <p class="color-style"><span></span><span></span></p>
                        </a>
                    </li>
                    <li class="product-card card">
                        <a href="#">
                            <div class="img-container">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true"
                                alt="product-3">
                            </div>
                            <p><span class="product-id">BJ41600S</span><span class="price">NTD3,490</span></p>
                            <p class="color-style"><span></span><span></span></p>
                        </a>
                    </li>
                    <li class="product-card card">
                        <a href="#">
                            <div class="img-container">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true"
                                alt="product-4">
                            </div>
                            <p><span class="product-id">BJ41600S</span><span class="price">NTD3,490</span></p>
                            <p class="color-style"><span></span><span></span></p>
                        </a>
                    </li>
                    <li class="product-card card">
                        <a href="#">
                            <div class="img-container">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-5.png?raw=true"
                                alt="product-5">
                            </div>
                            <p><span class="product-id">BJ41600S</span><span class="price">NTD3,490</span></p>
                            <p class="color-style"><span></span><span></span></p>
                        </a>
                    </li>
                    <li class="product-card card">
                        <div class="img-container">
                            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-6.png?raw=true"
                            alt="product-6">
                        </div>
                            <p><span class="product-id">BJ41600S</span><span class="price">NTD3,490</span></p>
                            <p class="color-style"><span></span><span></span></p>
                        </a>
                    </li>
                    <li class="product-card card">
                        <a href="#">
                            <div class="img-container">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true"
                                alt="product-7">
                            </div>
                            <p><span class="product-id">BJ41600S</span><span class="price">NTD3,490</span></p>
                            <p class="color-style"><span></span><span></span></p>
                        </a>
                    </li>
                    <li class="product-card card">
                        <a href="#">
                            <div class="img-container">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true"
                                alt="product-8">
                            </div>
                            <p><span class="product-id">BJ41600S</span><span class="price">NTD3,490</span></p>
                            <p class="color-style"><span></span><span></span></p>
                        </a>
                    </li>
                    <li class="product-card card">
                        <a href="#">
                            <div class="img-container">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true"
                                alt="product-9">
                            </div>
                            <p><span class="product-id">BJ41600S</span><span class="price">NTD3,490</span></p>
                            <p class="color-style"><span></span><span></span></p>
                        </a>
                    </li>
                    <li class="product-card card">
                        <a href="#">
                            <div class="img-container">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true"
                                alt="product-10">
                            </div>
                            <p><span class="product-id">BJ41600S</span><span class="price">NTD3,490</span></p>
                            <p class="color-style"><span></span><span></span></p>
                        </a>
                    </li>
                    <li class="product-card card">
                        <a href="#">
                            <div class="img-container">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-5.png?raw=true"
                                alt="product-11">
                            </div>
                            <p><span class="product-id">BJ41600S</span><span class="price">NTD3,490</span></p>
                            <p class="color-style"><span></span><span></span></p>
                        </a>
                    </li>
                    <li class="product-card card">
                        <a href="#">
                            <div class="img-container">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-6.png?raw=true"
                                alt="product-12">
                            </div>
                            <p><span class="product-id">BJ41600S</span><span class="price">NTD3,490</span></p>
                            <p class="color-style"><span></span><span></span></p>
                        </a>
                    </li>
                </ul>

                <ul class="paginations d-flex jcct">
                    <li><a href="#" class="previous-page pagination">上一頁</a></li>
                    <li><a href="#" class="pagination">1</a></li>
                    <li><a href="#" class="pagination active">2</a></li>
                    <li><a href="#" class="pagination">3</a></li>
                    <li><a href="#" class="pagination">4</a></li>
                    <li><a href="#" class="pagination">5</a></li>
                    <li><a href="#" class="next-page pagination">下一頁</a></li>

                </ul>

            </div>
        </div>

        <%- include('./layout/footer'); -%>

            <!-- 此js 載入all.css -->
            <script type="module" src="../main.js"></script>

</body>

</html>